<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570233773227-367r25ogolim4hp47bmglqu611vf9j8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570233773227-367r25ogolim4hp47bmglqu611vf9j8k</string>
	<key>API_KEY</key>
	<string>AIzaSyBxajNiAympRo4-pt6Ly-RVOrC21FJF5Do</string>
	<key>GCM_SENDER_ID</key>
	<string>570233773227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ArdakDev.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-2c6e2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-2c6e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570233773227:ios:b62b87a3ff75888f3e2bee</string>
</dict>
</plist>